In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./titanic.csv')

In [4]:
from sklearn.preprocessing import LabelEncoder

In [6]:
labelEncd = LabelEncoder()

In [20]:
leforSex = labelEncd.fit_transform(df.Sex)

In [8]:
leforSex.shape

(891,)

In [9]:
labelEncd.classes_

array(['female', 'male'], dtype=object)

In [21]:
df['sexEncoded'] = leforSex

In [22]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sexEncoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0

# Dropping Null

In [10]:
df.dropna(subset=['Embarked'], inplace=True)

In [11]:
df.Embarked.unique()

array(['S', 'C', 'Q'], dtype=object)

In [13]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [23]:
embarkedEncode = labelEncd.fit_transform(df.Embarked)
df['embarkedEncoded'] = embarkedEncode

In [24]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sexEncoded,embarkedEncoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0