In [1]:
import pandas as pd

In [12]:
df =  pd.read_csv('HeightWeight.csv')

In [13]:
df.head()

   Index    Height    Weight
0      1  65.78331  112.9925
1      2  71.51521  136.4873
2      3  69.39874  153.0269
3      4  68.21660  142.3354
4      5  67.78781  144.2971

In [14]:
df.drop(columns=['Index'], inplace=True)

In [15]:
df.head(2)

     Height    Weight
0  65.78331  112.9925
1  71.51521  136.4873

In [37]:
x_mean = df['Height'].mean()

In [36]:
y_mean = df['Weight'].mean()
print(f"Mean Height: {x_mean}, Mean Weight: {y_mean}")

Mean Height: 67.99311359679999, Mean Weight: 127.07942116080001

In [38]:
x_devt = df['Height'] - x_mean
x_dev = x_devt.sum()
print(f"Sum of deviations in Height: {x_dev}")

Sum of deviations in Height: 3.3875835470098536e-10

In [39]:
y_devt = df['Weight'] - y_mean
y_dev = y_devt.sum()
print(f"Sum of deviations in Weight: {y_dev}")

Sum of deviations in Weight: -2.423945488772006e-10

In [40]:
x_dev_sq_t = (df['Height'] - x_mean) ** 2
x_dev_sq = x_dev_sq_t.sum()
print(f"Sum of squared deviations in Height: {x_dev_sq}")

Sum of squared deviations in Height: 90405.93733920317

In [33]:
x_dev_y_dev_t = (df['Height'] - x_mean)*(df['Weight'] - y_mean)
x_dev_y_dev = x_dev_y_dev_t.sum()
print(f'Covariance: {x_dev_y_dev / x_dev_sq}')

Covariance: 3.0834764454029657

In [32]:
beta1 = x_dev_y_dev / x_dev_sq
print(f'Beta1: {beta1}')

Beta1: 3.0834764454029657

In [42]:
beta0 = y_mean - beta1 * x_mean
print(f'Beta0: {beta0}')

Beta0: -82.57574306454087

In [43]:
y = beta0 + beta1 * df['Height']

In [44]:
df['Predicted Weight'] = y

In [45]:
df.head()

     Height    Weight  Predicted Weight
0  65.78331  112.9925        120.265544
1  71.51521  136.4873        137.939722
2  69.39874  153.0269        131.413637
3  68.21660  142.3354        127.768536
4  67.78781  144.2971        126.446372

In [ ]:
x = int(input('Enter Height: '))
y = beta0 + beta1 * x
print('Corresponding Height:', y)